<div class="btn-group sorting-buttons">
    {{debug}}
    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
        Filter <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">

    </ul>
</div>
